{% extends 'baseformreport.html' %}

{% block head %}
    <title>Reportes</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}" type ="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <div class = container>
        <h1>Nueva habitación</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary botonform">Insertar</button>
        </form>
        <h2>{{ text }} </h2>
    </div>
     {% else %}
        <img src="{% static "HospitalApp/pare.png" %}" class="img-responsive center-block" alt="My image"/>
        <h4 >Inicie sesión primero</h4>
    {% endif %}
{% endblock %}