{% extends 'base.html' %}

{% block head %}
    <title>Login</title>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-4">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
{#                <h3>Usuario</h3>#}
{#                {{ form.username }}#}
{#                <h3>Contraseña</h3>#}
{#                {{ form.password }}#}
                <button type="submit" class="btn btn-outline-success">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
