{% extends "base.html" %}

{% block head %}
    <title>Prueba Filtro</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}" type ="text/css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-3">
            <div class="container-fluid">

            </div>
        </div>
            <div class="row"><div class="col-12">
                <div class="table-container">
                    {% block content %}
                      <form method="get">
                          {{ filter.form.as_p }}
                          <input type="submit" />
                        <button type="submit">Search</button>
                      </form>
                      <ul>
                      {% for dependencia in filter.qs %}
                        <li>{{ dependencia }}{{ dependencia.ocupacion }} - {{ user.identificacion.nombre }} </li>
                      {% endfor %}
                      </ul>
                    {% endblock %}
                </div>

                <button class="btn btn-outline-primary btn-lg" type=button  value="reload_reports">
                    Actualizar
                </button>
                <a href="./" class="btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Atrás</a>
            </div></div>
        </div>
    </div>
{% endblock %}
