{% extends "base.html" %}


{% block head %}
    <title>Reportes</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}" type ="text/css">
{% endblock %}



{% block body %}
    <div class="container">
        <h1>Registro de Operarios</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Aceptar </button>
        </form>
    </div>

{% endblock %}












































