{% extends "baseformreport.html" %}


{% block head %}
    <title>Reportes</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}" type ="text/css">
{% endblock %}



{% block body %}
    {% if user.is_authenticated %}
    <div class="container">

        <h1>Registro de Operarios</h1>
        <form method="post" action = "{% url 'register' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p>Hay errores en el formulario</p>
            {% endif %}

            <table>
                {{ form.as_table }}
            </table>


            <input type="submit" value="Register">

        </form>

    </div>
    {% else %}
        <img src="{% static "HospitalApp/pare.png" %}" class="img-responsive center-block" alt="My image"/>
        <h4 >Inicie sesión primero</h4>
    {% endif %}

{% endblock %}












































