{% extends "basereportes.html" %}

{% block head %}
    <title>Reportes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}" type ="text/css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-3">
            <div class="container-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    {% load django_tables2 %}
                    {% load bootstrap3 %}
                    {% bootstrap_css %}
                    {% bootstrap_javascript %}
                    {#                    {% bootstrap_messages %}#}
                    {#                    <form method="get">#}
                    {#                        {{ filter.form.as_p }}#}
                    {#                        <button class="btn btn-outline-primary btn-lg" type="submit">Search</button>#}
                    {% if filter %}

                        <form action="" method="get" class="form">
                            <div class="card bg-faded" align="content-center"><div class="card-block">
                                <h4 style="margin-top: 10" align="text-left">Búsqueda</h4>
                                <div class="container">
                                    <div class="row" style="margin-left: 20">
                                        <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                            {% bootstrap_field filter.form.dependencia size="small" class="form-control"%}
                                        </div>
                                        <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                            {% bootstrap_field filter.form.idcama size="small" class="form-control" %}
                                        </div>
                                </div>
                                <div class="row" style="margin-left: 20">
                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                        {% bootstrap_field filter.form.identificacion__nombre  class="form-control"%}
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                        {% bootstrap_field filter.form.identificacion  class="form-control"%}
                                    </div>

                                </div>
                                <div class="row" style="margin-left: 20">

                                        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            {% bootstrap_field filter.form.fechahorainicio  class="form-control" %}
                                        </div>
                                        <div class="submit-col col-sm-4 col-md-4 col-lg-4 col-xl-4" >
                                         {% buttons %}
                                                <button class="btn btn-outline-primary btn-lg" type=submit style="margin-top: 20"  >
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Filtrar
                                                </button>
                                            {% endbuttons %}
                                        </div>


                                </div>
                                <div class="row" style="margin-left: 20">
                                        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
                                            {% bootstrap_field filter.form.fechahorafin  class="form-control"%}
                                        </div>
                                        <div class="submit-col" >

                                            <a href="./Visitantes" class="btn btn-outline-secondary btn-lg " role="button" aria-pressed="true" style="margin: 20px 1px 1px 15px"," >
                                                 <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>  Borrar
                                            </a>


                                        </div>
                                    </div>
                                </div>


                                {#                            {% bootstrap_form filter.form layout='horizontal' %}#}
                                {#                                {% bootstrap_button 'Filtrar' %}#}
                        </div></div>
                        </form>

                    {% endif %}
                    {% render_table tabla 'django_tables2/bootstrap-responsive.html' %}

                    <div class="row">
                        <div class="col-5">
                            <a href="../" class="btn btn-outline-danger btn-lg " role="button" aria-pressed="true">Salir</a>
                        </div>
                        <div class="col-4">
                            {% for format in table.export_formats %}
                            <h5><a class=select2-container--focus href="{% querystring '_export'=format %}" >
                                Exportar a archivo <code>.{{ format }}</code>
                            </a></h5>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
