{% extends "base.html" %}
{% block head %}
    <title>Reportes</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}" type ="text/css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-3">
            <div class="container-fluid">

            </div>
        </div>
        <div class="col-9">
            {% if totalCamas > 0 %}
                {% load django_tables2 %}
{#                {% querystring '_export'='csv' %}home#}
                <div class="table-container" >

                {% render_table tabla %}

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <h6>Total de visitantes dentro: {{ totalVisitantes }}. </h6>
                            <h6>Total de camas con visitantes: {{ totalCamas }}. </h6>
                        </div>
                        <div class="col-4">
                            {% for format in tabla.export_formats %}
                            <h5><a class=select2-container--focus href="{% querystring '_export'=format %}" >
                                Exportar a archivo <code>.{{ format }}</code>
                            </a></h5>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p> </p>
            {% else %}
                <p> </p>
                <h2 style="color: darkslategrey">No aparecen registrados Visitantes dentro del hospital.</h2>
                <p> </p>
            {% endif %}

                <div class="table-container">
                    <button  class="btn btn-outline-primary btn-lg" type=button  value="reload_reports">
                        Refrescar
                    </button>
                    <a href="./" class="btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">
                        Atrás
                    </a>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
