{% extends "base.html" %}


{% block head %}
    <title>Reportes</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}" type ="text/css">
{% endblock %}



{% block body %}
    <div class="container">
        <div class="col-3">
            <div class="container-fluid">

            </div>
        </div>
        <div class="col-9">
            <div class="container">
                <a href="./admin" class="btn btn-outline-primary btn-lg "
                   role="button" aria-pressed="true">Administración Habitaciones</a>
                <a href="./Reportes" class="btn btn-outline-primary btn-lg"
                   role="button" aria-pressed="true">Consultas y Reportes</a>
            </div>
        </div>
    </div>
    <p>{{ user.iss}}</p>
{% endblock %}

